@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Get All Products</h2>
<a asp-page="/Products" class="btn btn-primary">View Products</a>

<h2>Get product By Id</h2>

<input type="number" id="productIdInput" placeholder="Enter Product ID" />
<button id="loadProductBtn" class="btn btn-primary">
        Load Product
</button>

<div id="productResult" class="product-result"></div>

@section Styles {
    <link rel="stylesheet" href="~/css/products.css" />
}

@section Scripts{
    <script src="~/js/products.js"></script>
}